#paymentContainer{
left:0; 
right:0; 
position: absolute; 
top:0;
display:flex;
flex-direction:column;
/*background-color:#293030; */
color:white;
margin-left: 40px;
}

#buttonModal {
	color:black;
}

	#buttonBuy {
    background-color: limegreen;
    border: 1px solid limegreen;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom:10px;
    margin-top: 20px;
	margin-bottom:30px;

}
#creditCardNr {
	width:500px;
}
#creditCardOption {
	margin-top:25px;
    padding-left: 0px;
}

#checkBox{
margin-top:25px;
margin-bottom:30px;
}

#creditCardInfo {
	margin-bottom:25px;
	color:black;
	margin-left:25px;
}

#flexContainer {
	flex-direction:row;
}

input {
	/*padding:5px;*/
	color:black;
}

.paymentOption {
	/*padding:5px;*/
}

.yourProducts
{
height:	100px;

}

#payment {
	padding-top:80px;
	font-size:30px;
}

footer {
	display:flex;
	height:100px;
	text-align:center;
	color:white;
	margin-top:auto;
	justify-content:center;
	color:white;
	background-color:black;
	margin-top:auto;
	
	
}
	body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

footer > a {
	margin-top:25px;
	color:white;
	padding:20px;
	text-decoration:none;
	text-align:center;
	
}

/*Start Bootstrap lovisa Header css*/

.navbar-brand{
    margin-top: -2px;
    
}

.navbar{
    border-radius: 0px;
}

.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu > li > a{
    color: #6b6b6b;
}
.navbar-inverse{
    background-color: #222222a3;
    border: none;  
}

/*End Bootstrap lovisa Header css*/

.logo{ 
    height: 30px;
}

 h1 {
		height:50px;
        font-size: 25px;
        font-family: sans-serif;
		
	}   

.form-control {
	width:350px;
		
	}

#inlineFormCustomSelect {
		width:150px;
	}

#cvc
	{
		width:100px;
	}

ul li {
		text-decoration:none;
		list-style: none; 
		
	}
    
#creditCardInfo {
		display:inline;
		width: 150px;
		
	}
label {
		display:inline;
	}

.option-input {
 
  display: inline-block;
  padding:5px;
 
 
}

/* search function css starts */
#searchInputField{
    margin-right: 50px;
    
}

#searchResult{
    position: absolute;
    margin-left: -40px;
    width: 400px;
}

#searchResult ul li img{
    width: 50px; 
}


#searchResult ul li{
    list-style: none;
    padding: 5px;
    background-color: #222222;
}

#searchResult ul li:hover{
    background-color: grey;

}

.stext{
    margin: 5px;
    font-size: 12px;
}

#searchResult ul li a {
    text-decoration: none;
    color: white;
    
}

.inputField{
    width: 350px;
    color: black;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

/* search function css ends */


#divLi {
    height: 50px;
    width: 50px;
}

footer {
	height:100px;
	text-align:center;
	padding-top:25px;
}

footer > a{
	height:100px;
	text-align:center;
	padding: 20px;
    
}

a {
	color:#9d9d9d;
	text-decoration:none;
}

a:hover{
    color: white;
}

#startContainer {
left:0; 
right:0;  
top:0;
margin: 0;
padding: 0;
display:flex;
flex: wrap;
flex-direction: column; 
width: 100%;
}

/*Start Bootstrap lovisa Header css*/

.logo{ 
    height: 30px;
    
}

.cartSpan{
    font-family: sans-serif;
    
}
.glyphicon-shopping-cart{
    margin-right: 30px;
}

.navbar-brand{
    margin-top: -2px;
    
}

.navbar{
    border-radius: 0px;
}

.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu > li > a{
    color: #6b6b6b;
}

.navbar-inverse{
    background-color: #222222a3;
    border: none;
    
}

.shopping_cart{
    margin-right: 50px;
    margin-left: 30px;
}

/*End Bootstrap lovisa Header css*/
form > ul> li {
    padding: 15px;
}
