* {
  box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#divLi {
    height: 50px;
    width: 50px;
}

.secondCointainer {
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

/* search function css starts */
#searchInputField{
    margin-right: 50px;
    
}

#searchResult{
    position: absolute;
    margin-left: -40px;
    width: 400px;
}

#searchResult ul li img{
    width: 50px; 
}


#searchResult ul li{
    list-style: none;
    padding: 5px;
    background-color: #222222;
}

#searchResult ul li:hover{
    background-color: grey;

}

.stext{
    margin: 5px;
    font-size: 12px;
}

#searchResult ul li a {
    text-decoration: none;
    color: white;
    
}

.inputField{
    width: 350px;
    color: black;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

/* search function css ends */


#divLi {
    height: 50px;
    width: 50px;
}

footer {
	height:100px;
	text-align:center;
	padding-top:25px;
}

a {
	color:#9d9d9d;
	text-decoration:none;
}

a:hover{
    color: white;
}

#startContainer {
left:0; 
right:0;  
top:0;
margin: 0;
padding: 0;
display:flex;
flex: wrap;
flex-direction: column; 
width: 100%;
}

/*Start Bootstrap lovisa Header css*/

.logo{ 
    height: 30px;
    
}

.cartSpan{
    font-family: sans-serif;
    
}
.glyphicon-shopping-cart{
    margin-right: 30px;
}

.navbar-brand{
    margin-top: -2px;
    
}

.navbar{
    border-radius: 0px;
}

.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-menu > li > a{
    color: #6b6b6b;
}

.navbar-inverse{
    background-color: #222222a3;
    border: none;
    
}

.shopping_cart{
    margin-right: 50px;
    margin-left: 30px;
}

/*End Bootstrap lovisa Header css*/

#headerId > .col-xs-1{padding-right: 0; padding-left: 5px;}


.logo{ 
    height: 30px;
    
}

#headerId {
	 height:50px;
	 color:white;
	 background-color:black;
	 justify-content:center; 
	 align-items: center;
        margin:0;
}



#imgId { 
        border: none;
        height: 400px;
        padding: 0;
        width: 100%;
        margin: 0;
}
    

/*
#date {
display:flex;
height:200px;
border: 1px solid black;
}
.newlyAdded {
color: black;
background-color:white;

}
*/


#imgDivId {
    display: block;
    float: right;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    
}

#genreGenre {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 20px;
}

#thirdContainer {
    float: left;
    padding-top: 100px;
    margin: 0;
    padding-bottom: 50px;
}

.filmImgSelected {
    height: 550px;
    width:400px;
	

}

#filmTitleDiv {
     font-size: 32px;
    font-weight: 500;
}


.addMovie
{
    background-color: limegreen;
    border:1px solid limegreen;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

#movieInfo {
border: 1px solid black;
width: 70%;
}

footer {
   display:flex;
	height:100px;
	text-align:center;
	color:white;
	margin-top:auto;
	justify-content:center;
	color:white;
	background-color:black;
	margin-top:auto;
	


}

footer > a {
    margin-top:25px;
    color:white;
    padding:20px;
    text-decoration:none;
    text-align:center;

}
.filmYearSpan
{
	border-left: 1px solid white;
	padding:15px;
}
.filmGenreSpan
{
	padding-right:15px;
}
li {
	list-style:none;
}
 #secondContainer{
 	 margin-top:100px;
	 margin-
 }